.footer {
  padding: 30px 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.765);
  backdrop-filter: blur(6px);
  padding: 10px 20px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer_info h2 {
  margin: 0;
  font-size: 20px;
}

.footer_info p {
  margin: 4px 0;
}

.footer_info a {
  color: #60a5fa;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.footer_info a:hover {
  color: #3b82f6;
}

.footer_socials {
  display: flex;
  gap: 15px;
}

.footer_socials a {
  display: inline-block;
  transition: transform 0.2s ease;
}

.footer_socials a:hover {
  transform: scale(1.1);
}

.footer__contact {
  margin-top: 5px;
}

.footer__contact a {
  color: #3b82f6;
  font-size: 1rem;
}
